/*
Esto es un comentario
*/
.texto {
    font-family: Sans-serif;
    font-weight: bold;
}
h1 {
    color: rgb(0, 121, 115);
    font-size: 40 px;
    text-align: center;
}
img {
    display: block;
    margin: auto;
    border-radius: 250px;
    ho
}
small {
    color: white;
}
body {
    background-color: black;
}
.section1 {
    font-size: 32px;
    color: greenyellow;
}
.section2 {
    font-size: 32px;
    color: rgb(78, 4, 18);

}
footer {
    background-color: darkgrey;
    font-size: 27px;
    text-align: center;
    color:rgb(78, 4, 18);
}
td {
    color:rgb(78, 4, 18);
    font-family: Sans-serif;
    font-size: 32px;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 20px;
    
}
