#gradiente-linear-desde-arriba-hacia-abajo {
    height: 250px;
    width: 250px;
    background-image: linear-gradient(blue,green);
    color: white;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}

#gradiente-linear-desde-izquierda-hacia-derecha {

    height: 250px;
    width: 250px;
    background-image: linear-gradient(to right, red,yellow);
    font-weight: bolder;
    margin: auto;
    text-align: center;
}
#gradiente-linear-diagonal-hacia-el-fondo-derecha {
    height: 250px;
    width: 250px;
    border-radius: 25%;
    background-image: linear-gradient(to bottom right, aquamarine, orange);
    margin: auto;
    font-weight: bolder;
    text-align: center;
}
#gradiente-linear-con-angulos {
    height: 250px;
    width: 250px;
    text-align: center;
    font-weight: bolder;
    background-image: linear-gradient(154deg, aquamarine,brown);
    margin: auto;

}
#gradiente-linear-multiples-colores {
    height: 250px;
    width: 250px;
    text-align: center;
    font-weight: bolder;
    margin: auto;
    background-image: linear-gradient(red,green,blue);
}
#gradiente-linear-multiples-colores-colores-2 {
    height: 250px;
    width: 250px;
    background-image: linear-gradient(to left, black, blue, purple , pink);
    margin: auto;
    font-weight: bolder;
    text-align: center;
}
#gradiente-linear-transparencia {
    height: 250px;
    width: 250px;
    background-image: linear-gradient(to right, rgba(255,255,255,0),rgba(255,0,0,1));
    margin: auto;
    font-weight: bolder;
    text-align: center;
}