#a {
    border-style: double dashed dashed dotted;
    text-align: center;
}

postgres://$USERNAME:$PASSWORD@0acd0eca-15cf-43a8-85a3-4699b7b633cd.c00no9sd0hobi6kj68i0.databases.appdomain.cloud:32340/ibmclouddb?sslmode=verify-full



uwosepse
UMTBJoss2QhEAYG


52.116.235.201
10.185.70.131




jdbc:postgresql://eb76c523-33dc-4e4c-b335-d05e6c7e9596.bkvfv1ld0bj2bdbncbeg.databases.appdomain.cloud:32329/tesfeose?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory
UWOSEtest
123ouygABChoLHb


