p {
    color: rgb(78, 4, 18);
    font-size: 27px;
}
/*
Esto es un comentario
*/
.texto {
    font-family: Sans-serif;
    font-weight: bold;
    text-align: center;
}
h1 {
    color: rgb(0, 121, 115);
}
small {
    color: white;
}
body {
    background-color: black;
}
.section1 {
    font-size: 32px;
    color: greenyellow;
}
#section2 {
    font-size: 70px;

}