
img {
    height: 200px;
    width: 200px;
    text-align: center;
    animation: gira 0.5s infinite;
}

@keyframes gira {
    0% {
        filter: grayscale(50%)
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(40deg);
        filter: grayscale(100%);
    }
    20% {
        transform: rotate(80deg);
        filter: grayscale(50%);
    }
    30% {
        transform: rotate(120deg);
        filter: grayscale(50%);
    }
    40% {
        transform: rotate(160deg);
        filter: grayscale(50%);
    }
    50% {
        transform: rotate(200deg);
        filter: grayscale(50%);
    }
    60% {
        transform: rotate(240deg);
        filter: grayscale(50%);
    }
    70% {
        transform: rotate(300deg);
        filter: grayscale(50%);
    }
    80% {
        transform: rotate(360deg);
        filter: grayscale(50%);
    }
}