#contenedor-vertical {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    border: solid black 2px;
}
#contenedor-horizontal {
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    border: solid black 2px;
}
#contenedor-horizontal-header {
    display: flex;
    flex-direction: row;
    background-color: purple;
    justify-content: space-between;
    border: solid black 2px;
}
#contenedor-horizontal-final {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: salmon;
    border: solid black 2px;
}
#contenedor-horizontal-centro {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: turquoise;
    border: solid black 2px;
}
#contenedor-horizontal-inicio {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: green;
    border: solid black 2px;
}
#contenedor-horizontal-expansor {
    display: flex;
    flex-direction: row;
    background-color: blue;
    border: solid black 2px;
}
#contenedor-horizontal-envoltorio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: orange;
}
#elemento-a {
    width: 100px;
    height: 100px;
    margin: 20px;
    flex-grow: 1;
    background-color: tomato;
    border: solid black 4px;
}
#elemento-b {
    width: 100px;
    height: 100px;
    margin: 20px;
    flex-grow: 2;
    background-color: tomato;
    border: solid black 4px;
}
#elemento-c {
    width: 100px;
    height: 100px;
    margin: 20px;
    flex-grow: 1;
    background-color: tomato;
    border: solid black 4px;
}
.elemento {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: tomato;
    border: 4px solid black;
}
