#elemento {
    width: 100%;
    height: 100%;
    animation: pulse 0.5s infinite;
}
img { 
    animation: circulo 0.5s infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}


@keyframes circulo {
    0% {
        border-radius: 0%;
    }
    15% {
        border-radius: 15%;
    }
    30% {
        border-radius: 30%;
    }
    45% {
        border-radius: 45%;
    }
    60% {
        border-radius: 60%;
    }
    75% {
        border-radius: 75%;
    }
    90% {
        border-radius: 90%;
    }
    100% {
        border-radius: 100%;
    }
}

@keyframes  pulse {
    0% {
        background-color: black;
    }
    25% {
        background-color: green;
    }
    50% {
        background-color: purple;
    }
    100% {
        background-color: cadetblue;
    }
}
html,body {
    height: 100%;
    width: 100%;
}