#box {
    width: 1000px;
    height: 1000px;
    background: rgb(180, 37, 37);
    color: white;
    border: 6px solid orangered;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
img {
    width: 310px;
    border: 6px outset yellow;
    

}

#description {
    width: 300px;
    height: 200px;
    overflow-x: auto;
    overflow-y: auto;
    border: dotted 6px blue;

}