/*ELEMENTOS FIJOS*/
* {
    margin: 0;
}
body {
    font-family: Roboto,HelveticaNeue,Arial,sans-serif;
    background-color: white;
}
#perfil-google {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#puntos {
    width: 35px;
    fill: #5f6368;
    margin-top: 3px;
}
.section-a {
    font-size: 12px;
    text-decoration: none;
}
header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex-direction: row;
    
}
#contenedor-left {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    
}
nav {
    margin-top: 9px;
    margin-left: 10px;
    display: inline-block;

}
#rayas {
    margin-left: 5px;
    margin-top: 7px;
}
.section-a {
    margin-left: 10px;
    margin-right: 20px;
    font-weight: 600;
    /*color: #70757a;*/
    background: -webkit-linear-gradient(90deg, rgba(37,17,51,1) 0%, rgba(253,29,29,1) 49%, rgba(255,149,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-b {
    margin-left: 10px;
    margin-right: 5px;
}
#contenedor-rigth {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 15px;
}
#dentro-del-buscador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
#lupa {
    width: 20px;
    height: 20px;
    fill: #5f6368;
    align-items: center;
}
#microfono {
    width: 20px;
    height: 20px;
}
#botones {
    padding-top: 15px;
}
button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px; 
}
#parrafo {
    display: flex;
    justify-content: center;
}
p {
    font-size: small;
    padding-top: 25px;
    display: inline-block;
    color: #5f6368;
    
    
}
h1 {
    color: blue;
    padding-left: 3px;
    font-size: small;
    padding-top: 25px;
    display: inline-block;   
    text-decoration: underline blue;
}
main {
    text-align: center;
    align-items: center;
    
}


footer { 
    position: fixed;
    bottom: 0;
    width: 100%;
}
#sub-footer-1 {
    margin-left: 15px;
    margin-bottom: 15px;
}
#sub-footer-3 {
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.red-social {
    width: 30px;
    margin: 10px;
}
#footer-total {
    justify-content: space-between;
    display: flex;
}

/*ELEMENTOS FIJOS*/
/*------------------------------------------------------*/
main {
    text-align: center;
}

#google {
    margin-top: 100px;
    width: 20%;
}
#buscador {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 736px;
    height: 40px;
    margin-top: 20px;
    display: block;
    background: none;
    position: relative;
    border-radius: 20px;
    border: 1px solid #dadce0;
}









/*
#footer-total {
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
#sub-footer-3 {

    margin-bottom: 15px;
    display: flex;
    flex-direction: row;

}
#sub-footer-1 {
    margin-left: 15px;
}
.red-social {
    fill: #5f6368;
    width: 30px;
    margin: 10px;
}

*/








/*MEDIAS QUERRYS*/
/*PANTALLAS MAYORES A 400 Y MENORES A 601*/

@media only screen and (max-width: 600px) {
    #google {
        width: 200px;
        margin-left: 10px;
    }
    #contendor-imagen-google {
        text-align: center;
        
    }
    #buscador {
        margin: auto;
        display: flex;
        justify-content: center;
        width: 400px;
        height: 40px;
        margin-top: 5px;
        display: block;
        background: none;
        position: relative;
        border-radius: 20px;
        border: 1px solid #dadce0;
        margin: auto;
        box-shadow: -1px 0px 2px 0px rgba(0,0,0,0.75);



    }
}

/*PANTALLAS MAYORES A 320 Y MENORES A 399*/
@media only screen and (max-width: 400px) {
    #google {
        width: 150px;
        margin-left: 5px;
    }
    #buscador {
        margin: auto;
        display: flex;
        justify-content: center;
        width: 315px;
        height: 28px;
        margin-top: 5px;
        display: block;
        background: none;
        position: relative;
        border-radius: 20px;
        border: 1px solid #dadce0;
    }
    .section-a {
        font-size: 10px;
        text-decoration: none;
    }
    nav {
        margin-top: 9px;
        margin-left: 1px;
        display: inline-block;
    
    }
    #dentro-del-buscador {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3px;
        margin-left: 10px;
        margin-right: 10px;
    
    }
    #lupa {
        width: 15px;
        height: 20px;
        fill: #5f6368;
        align-items: center;
    }
    #microfono {
        width: 15px;
        height: 20px;
    }
    button {
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 10px; 
    }
    #p-footer {
        font-size: 8px;
    }
    .footer-class {
        display: flex;
        flex-direction: column;
    }
    .red-social {
        width: 20px;
        margin: 4px;
    }
}

@media only screen and (min-width: 601px) {

    #google {
        width: 200px;
        margin-left: 10px;
    }
    #contendor-imagen-google {
        text-align: center;
        
    }
    #buscador {
        margin: auto;
        display: flex;
        justify-content: center;
        width: 650px;
        height: 40px;
        margin-top: 5px;
        display: block;
        background: none;
        position: relative;
        border-radius: 20px;
        border: 1px solid #dadce0;
        margin: auto;
        box-shadow: -1px 0px 2px 0px rgba(0,0,0,0.75);



    }
}