div {
    background-color: yellow;
    font-weight: bold;
    width: 400px;
    border: 10px solid blue;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 70px;
    padding-bottom: 1000px;
    margin: 20px;
} 